{
  "env": {
    "test": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-flow-strip-types",
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions"]
          },
          "modules": false
        }]
      ],
      "plugins": [
        "transform-flow-strip-types",
        "transform-object-rest-spread"
      ]
    }
  }
}
